body {
    font-family: Arial, sans-serif;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#album-info {
    text-align: center;
}

#album-cover {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 20px;
}

#album-title {
    font-size: 1.5em;
    margin-top: 10px;
}

#vinyl-container {
    position: relative;
    width: 200px;
    height: 200px;
}

#vinyl {
    width: 100%;
    height: 100%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
