/* Style de base */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

.container {
  padding: 20px;
}

h1 {
  color: #1db954;
}

.player {
  margin-top: 20px;
}

#album-art {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#track-name, #artist-name {
  margin: 10px 0;
}

button {
  background-color: #1db954;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  background-color: #1ed760;
}

/* Barre de progression */
#progress-container {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#progress-bar {
  width: 100%;
  appearance: none;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

#progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #1db954; /* Couleur Spotify */
  border-radius: 50%;
  cursor: pointer;
}
